.story {
    display: flex;
    justify-content: center;
    color: var(--color-white);
    border-top: 8px solid #222;
    // padding: 70px 45px;
    padding: 40px 45px 50px 45px;
    background-color: var(--main-color);
    max-height: 474px;
    width: 100%;
    .flex-dir {
        flex-direction: row-reverse;
    }

    .story__title {
        width: 100%;
        height: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            font-size: 50px;
            margin-bottom: 8px;
        }
        h5 {
            font-size: 26px;
            margin: 19.5px 0 6.5px;
            z-index: 3;
        }

        .btn__getAp {
            background-color: transparent;
            text-align: left;
            padding: 8px 0;
            max-width: 210px;
            box-shadow: none;

            a {
                color: var(--color-white);
                font-size: 26px;
                text-decoration: none;

                .icon {
                    font-size: 30px;
                }
                &:hover {
                    color: #ccc;
                }
            }
        }
    }

    .image-tv {
        max-height: 397px;
        max-width: 542px;
        bottom: 30px;
        position: relative;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .movie {
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 73%;
            max-height: 54%;
            top: 20%;
            left: 13%;
            z-index: -1;

            video {
                width: 100%;
            }
        }

        // story2
        .story__card {
            position: absolute;
            left: 50%;
            bottom: 8%;
            transform: translateX(-50%);
            width: 60%;
            display: flex;
            justify-content: space-between;
            height: 96px;
            background: #000;
            border: 2px solid hsla(0, 0%, 100%, 0.25);
            border-radius: 0.75em;
            box-shadow: 0 0 2em 0 #000;
            padding: 8px 12px;

            .story__animation,
            img {
                height: 73px;
                width: 51px;
                object-fit: cover;
            }

            .story__story-title {
                display: flex;
                flex-direction: column;
                justify-content: center;

                span {
                    &:first-child {
                        font-size: 19px;
                        font-weight: 600;
                        color: var(--color-white);
                    }
                    &:last-child {
                        font-size: 16.5px;
                        font-weight: 400;
                        color: #0071eb;
                    }
                }
            }

            .story__animation {
                background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif)
                    50% no-repeat;
                background-size: 100%;
                content: '';
                display: block;
                flex-grow: 0;
                flex-shrink: 0;
                outline: 2px solid #000;
                outline-offset: -2px;
            }
        }
        // story 4
        &.image-kid {
            max-height: 378px;
        }

        // story 5
        &.phone {
            max-height: 347px;
            top: 10px;
        }
    }
    &.hight {
        max-height: 238px;
        .story__title {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 992px) {
    .story {
        max-height: 916px;
        // max-height: 432px;
        // padding: 50px 5%;

        .story__title {
            text-align: center;

            h3 {
                font-size: 40px;
            }

            h5 {
                font-size: 20px;
                margin-top: 5.5px;
            }

            .btn__getAp {
                margin: auto;
                padding: 5px 0 35px;

                a {
                    font-size: 20px;
                    display: flex;
                    justify-content: center;

                    .icon {
                        font-size: 25px;
                        margin-top: 5px;
                    }
                }
            }
        }

        .image-tv {
            margin: auto;
            bottom: 50px;
            max-width: 600px;

            .story__card {
                width: 60%;
                height: 64px;

                img {
                    height: 48px;
                    width: 34px;
                }

                .story__title {
                    margin: 0 15px;
                    width: 100%;
                    text-align: left;
                    span {
                        &:first-child {
                            font-size: 14.5px;
                        }

                        &:last-child {
                            font-size: 12px;
                        }
                    }
                }

                .story__story-title {
                    span {
                        &:first-child {
                            font-size: 15.5px;
                        }

                        &:last-child {
                            font-size: 10px;
                        }
                    }
                }

                .story__animation {
                    height: 48px;
                    width: 48px;
                }
            }

            &.image-kid {
                bottom: 8px;
            }

            &.image-tv.phone {
                top: -20px;
            }
        }
        &.h-phone {
            padding: 70px 45px;
        }
        &.story-h-kid {
            max-height: 830px;
            padding: 70px 50px;
        }
    }

    .set-mt {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .story {
        .story__title {
            h3 {
                font-size: 26px;
            }

            h5 {
                font-size: 18px;
            }

            .btn__getAp {
                margin: auto;
                padding: 5px 0 35px;

                a {
                    font-size: 18px;
                }
            }
        }

        .image-tv {
            bottom: 30px;
        }
        &.h-phone {
            padding: 70px 45px;
        }
        &.story-h-kid {
            max-height: 830px;
            padding: 70px 50px;
        }
    }

    .set-mt {
        margin-top: 16px;
    }
}

@media only screen and (max-width: 478px) {
    .story {
        .image-tv {
            .story__card {
                width: 100%;

                .story__animation {
                    height: 32px;
                    width: 32px;
                    margin-top: 5px;
                }

                .story__title {
                    text-align: center;
                }

                .story__story-title {
                    span {
                        &:first-child {
                            font-size: 12.5px;
                        }

                        &:last-child {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
}
